@media(max-width:500px){
    header.myheader div.back ul.navlist li{
        display: none;
    }
    body{
        text-align: center;
        width: 100%;
    }
    header.myheader div.mydiv h2{
        font-size: 50px;
    }
    header.myheader div.mydiv{
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
        width: 100%;
        
    }
    header.myheader div.mydiv div.social{
        display: none;

    }
     div.mydiv{
        margin-top: 150px;
    }
    section.am div.about p{
        float: none;
        background-color: #B565A7;
        letter-spacing: 0px;
        margin-left: 0px;
        margin:20px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    
        padding: 10px;
    }
    section.am div.about img{
        width:100%;
        margin-left: 0px;
        
    }
    
    section.wm div.whyme h2{
    background-color: cornsilk;
      margin-top: 600px;
        padding-left: 70px;
        padding-bottom: 15px;
        width: 80%;
        color: palevioletred;
    }
    section.wm div.image img{
        float: none;
        width: 400px;
    }
    section.wm div.me{
        text-align: center;
        background: #98B4D4;
        padding: 20px;
        width: 80%;
        margin-right: 0px;
        margin-left: 0px;
        float: none;
    }footer.contact h2{
        margin-top: 990px;
        text-align: center;
    }
    footer.contact div.container{
        float: none;
        text-align: center;
        width: 100%;
        height: 300px;
        margin-right: 0px;
    
    }
    footer.contact div.container div.par{
        float: none;
        width: 100%;
        margin-left:0px;
        margin-right: 0px;
    }
    footer.contact div.container div.contactimage{
        float: none;
        height: 100%;
        width: 80%;
        display: none;
    }footer.contact div.container  li a{
        display: none;

        
    }
}